/* Header */
#nav_top{
  background: black;
  color: white;
  height: 70px;
}
.content{
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 5px;
  padding-bottom: : 15px;
  border-right: 0.5px solid #323232;
  margin-top: 10px;
}
.mycontainer{
   background-color: white;
}
.content:last-child{
  border-right: unset;
}
.font{
  margin-left: 10px;
  color: gray;
  text-align: center;
}
.font-big{
  text-transform: uppercase;
  font-weight: bold;
  color: white;
  font-size: 13px;
  letter-spacing: 3px;
}
.font-small{
  font-size: 13px;
  margin-top: 0px;
}
/* End Header */
/* Navbar */
.Navbar-group{
  height: 35px;
}
.Navbar-Content{
  margin-top: 0px;
  font-size: 13px;
}
.Navbar-Select{
  border: none;
  color: #949494;
}
.margin-icon{
  margin-right:6px;
  margin-left: 20px;
  margin-top: -5px;
}
.margin-icon-big{
  margin-right:6px;
  margin-left: 10px;
  padding:10px;
  margin-top: -5px;
  background-color: black;
}
.Navbar-a{
  font-size: 13px;
  color: #949494;
}
a{
  color: #949494 !important;
  text-decoration: none;
}
.so0{
  padding: 1px 6px ;
  border-radius: 40px;
  background-color: #29beff;
  color: white !important;
  font-size: 12px;
  position: absolute;
  top: 9%;
  left: 89.5%;
}
.logo-search{
  position: relative;
}
.logo{
  text-align: center;
  font-size: 30px;
  font-weight: bold;
  text-transform: uppercase;
  position: relative;
}
.text-small-logo{
  font-size: 10px;
  color: #999999;
  position: absolute;
  left: 44.8%;
  top: 75%;
  letter-spacing: 2px;
  font-weight: bold;
}
.search{
  position: absolute;
  top: 20px;
  right:10px;
}
.button-search{
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  border: none;
  background-color: #f4a137;
  width: 30px;

}
.btndropdown{
  margin-top: 30px;
}
.dropdown-toggle{
  margin-top: 30px;
}
.row .right .btndropdown{
  margin-left: 220px;

}
.buythistheme{
    position: relative;
}
.row .hot{
    position: absolute;
    top: 26%;
    left: 86.5%;
}
.row .new{
    position: absolute;
    top: 26%;
    left: 20.5%;
}
#main .left {
    width: 700px;
    float:left;
    min-height: 270px;
}
#main .right {
    background:#ccc;
    width: 700px;
    min-height: 400px;

    /* float:left; */
}
#main img{
  float: left;
  margin-right: 10px;
  margin-bottom: 20px;
}
.form-control1{
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  border: 0.4px solid #949494;
  padding-left: 20px;
  height: 30px;

}
/* end Navbar */
/* dropdown */
.btndropdown{
  color: black !important;
  font-weight: bold;
}
/* End dropdown */
